<ion-view align-title="center" view-title="AT THE EVENT">

  <ion-content class="content-sub-header">

    <!-- <ion-list class="general-list">
      <ion-item href="#/app/airshow-programme" class="general-list-item">
        Air Show Programme
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/fun-activities" class="general-list-item">
        Fun Activities
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list> -->
    
  </ion-content>
</ion-view>