<ion-view align-title="center" view-title="AT THE EVENT">

  <ion-content class="content-sub-header">

    <ion-list class="general-list">
      <ion-item href="" class="general-list-item" ng-click="exhibitorCalendar('', '')">
        Air Show
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/trade-exhibition" class="general-list-item">
        Trade Exhibition
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="exhibitorCalendar('', '')">
        Add A Custom Event
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>