<ion-view align-title="center" view-title="GETTING THERE">

  <ion-content class="content-sub-header">

    <ion-list class="general-list">
      <ion-item href="#/app/directions-detail/orthambo" class="general-list-item">
        From OR Thambo Airport
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/directions-detail/wonderboom" class="general-list-item">
        From Wonderboom Airport
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/directions-detail/lanseria" class="general-list-item">
        From Lanseria Airport
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>