<ion-view align-title="center" view-title="DISCOVER SA">
  <ion-content class="content-sub-header">
    
  	<ion-list class="general-list">
      <ion-item href="#/app/accommodation" class="general-list-item">
        Accommodation
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/things-to-do" class="general-list-item">
        Things To Do
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/getting-around" class="general-list-item">
       	Getting Around
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

  </ion-content>  
</ion-view>