<ion-view align-title="center" view-title="GENERAL ENQUIRIES">
  	<ion-content class="content-sub-header">

	  	<ion-list class="general-list">
	  		<ion-item href="#/app/general-enq-detail/enqType=airshow" class="general-list-item">
	        	Air Show Enquiries
	        	<i class="icon ion-chevron-right color-red"></i>
	      	</ion-item>
	      	<ion-item href="#/app/general-enq-detail/enqType=exhibition" class="general-list-item">
	        	Exhibition Enquiries
	        	<i class="icon ion-chevron-right color-red"></i>
	      	</ion-item>
	      	<div class="padding">
			    <p class="enq-text">
			    	<b>General Enquiries</b><br>
					Cell: <a href="tel:0848403215">084 840 3215</a><br>
					Email: expodir@aadexpo.co.za
			    </p>
			    <div class="accom-title-underline"></div>
			</div>

	      	<!-- <h2 class="color-blue enq-title">
		      	<b>Marketing &amp; <br>Communications Manager</b>
		    </h2>
		    <p class="enq-text">
		    	Name: Nakedi Phasha<br>
				Cell: <a href="tel:0825443339">082 544 3339</a><br>
				Email: marketingcomms@aadexpo.co.za
		    </p>
		    <div class="accom-title-underline"></div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
		    <h2 class="color-blue enq-title">
		      	<b>Finance &amp; <br>Aministration Manager</b>
		    </h2>
		    <p class="enq-text">
		    	Name: Portia Ngobeni<br>
				Cell: <a href="tel:0725676095">072 567 6095</a><br>
				E-mail: finance@aadexpo.co.za
		    </p>
		    <div class="accom-title-underline"></div>

		    <h2 class="color-blue enq-title">
		      	<b>Civilian Flight Director</b>
		    </h2>
		    <p class="enq-text">
		    	Name: Mr. JP Truter<br>
				Cell: <a href="tel:0823823276">082 382 3276</a><br>
				Email: flightdir@aadexpo.co.za
		    </p>
		    <div class="accom-title-underline"></div>

		    <h2 class="color-blue enq-title">
		      	<b>Youth <br>Development Program</b>
		    </h2>
		    <p class="enq-text">
		    	Name: Mr. Kholisile Khumalo<br>
				Cell: <a href="tel:0794961652">079 496 1652</a><br>
				Email: ydp@aadexpo.co.za
		    </p>
		    <div class="accom-title-underline"></div> -->
	    </ion-list>

	    <div class="bottom-spacer"></div>

  	</ion-content>  
</ion-view>