<ion-view align-title="center" view-title="DISCOVER SA">
  <ion-content class="content-sub-header">
    
  	<ion-list class="general-list">
      <ion-item href="#" class="general-list-item" ng-click="gautrainBusPrompt()">
        Bus
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" ng-click="gautrainPrompt()">
        Gautrain
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/car-rental" class="general-list-item">
       	Car Rental
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/taxi-services" class="general-list-item">
        Taxi Services
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" ng-click="browserOpen('https://www.travelstart.co.za/?cpysource=tszaweb&affid=AUTO6598&utm_source=google&utm_medium=cpc&utm_campaign&show_banners=true&isiframe=false&landing_page=false&gclid=Cj0KEQiA6bq2BRC6ppf0_83Z1YIBEiQAgPYNvTNKuqIghFlUU6anTCtn_v8e2yBLlRA8jWYALXEjzGoaAnds8P8HAQ&gclsrc=aw.ds&dclid=CL2snLLwlMsCFeIC0wodSmkGLw&')">
        Flights
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

    <div class="bottom-spacer"></div>

  </ion-content>  
</ion-view>