<ion-view align-title="center" view-title="HELP DESK">
  <ion-content class="content-sub-header">

  	<ion-list class="general-list">
      	<ion-item href="#/app/ticket-sales" class="general-list-item">
        	Ticket Sales
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
      	<ion-item href="#/app/traffic" class="general-list-item">
        	Traffic
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
        <ion-item href="#/app/rules" class="general-list-item">
          Rules
          <i class="icon ion-chevron-right color-red"></i>
        </ion-item>
      	<ion-item href="#/app/lost-children-centre" class="general-list-item">
       		Lost Children Centre
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
      	<ion-item href="#/app/medical-centre" class="general-list-item">
       		Medical Centre
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
      	<ion-item href="#/app/noise-levels" class="general-list-item">
       		Noise Levels
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
      	<ion-item href="#/app/social-media-info" class="general-list-item">
       		Social
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
    </ion-list>

    <div class="bottom-spacer"></div>
    
  </ion-content>  
</ion-view>