<ion-view align-title="center" view-title="AAD EXPO HOME">
  <ion-content class="padding content-wrap-full" delegate-handle="home-content">

    <div class="home-row-content">
      <div class="row home-row-top">

        <div class="flip-container home-col-event" onclick="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="home-content-innerwrap center-justify-content front bg-blue">
              <div class="home-content-innerwrap">
                <div class="text-center">
                  <img class="home-icon-img-event" src="img/icons/at-event-opacity.svg"/>
                </div>
                <h1 class="text-center no-margin home-even-txt">AT THE EVENT</h1>
              </div>
              <img class="home-bg-triangle" src="img/home-triangle.svg"/>
            </div>
            <div class="home-content-innerwrap center-justify-content back bg-white">
              <div>
                <!-- <div class="text-center">
                  <img class="home-icon-img-event" src="img/icons/at-event.svg"/>
                </div> -->
                <p class="text-center no-margin color-blue">View the Air Show &amp; Trade Exhibitions schedule</p>
                <div class="text-center">
                  <a href="#/app/at-event" class="button bg-blue color-white btn-home">
                    VIEW MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-container home-col-getting-there" onclick="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="home-content-innerwrap center-justify-content front bg-red home-col-margin-left">
              <div>
                <div class="text-center">
                  <img class="home-icon-img-getting-there" src="img/icons/getting-there-opacity.svg"/>
                </div>
                <h1 class="text-center no-margin home-even-txt">GETTING THERE</h1>
              </div>
            </div>
            <div class="home-content-innerwrap center-justify-content back home-col-margin-left">
              <div>
                <p class="text-center no-margin color-red">Find the fastest route</p>
                <div class="text-center">
                  <a href="#/app/getting-there" class="button bg-red color-white btn-home">
                    MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row home-row-mid">

        <div class="flip-container home-col-contact" onclick="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="home-content-innerwrap center-justify-content front bg-green">
              <div>
                <div class="home-content-innerwrap">
                  <div class="text-center">
                    <img class="home-icon-img-contact" src="img/icons/contact.svg"/>
                  </div>
                  <h1 class="text-center no-margin">CONTACT</h1>
                </div>
              </div>
            </div>
            <div class="home-content-innerwrap center-justify-content back">
              <div>
                <p class="text-center no-margin color-green">View all contact information</p>
                <div class="text-center">
                  <a href="#/app/general-enq" class="button bg-green color-white btn-home">
                    VIEW
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-container home-col-discover" onclick="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="home-content-innerwrap center-justify-content front bg-blue home-col-margin-left">
              <div>
                <div class="home-content-innerwrap">
                  <div class="text-center">
                    <img class="home-icon-img-discover" src="img/icons/discover-sa-background-opacity.svg"/>
                  </div>          
                  <h1 class="text-center no-margin">DISCOVER SA</h1>
                </div>
                <img class="home-bg-triangle flip-horizontal" src="img/home-triangle.svg"/>
              </div>
            </div>
            <div class="home-content-innerwrap center-justify-content back home-col-margin-left">
              <div>
                <p class="text-center no-margin color-blue">Find accommodation or explore South Africa</p>
                <div class="text-center">
                  <a href="#/app/discover-sa" class="button bg-blue color-white btn-home">
                    VIEW MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>
  </ion-content>
</ion-view>