<ion-view align-title="center" view-title="HELP DESK">
  <ion-content class="content-sub-header padding">

  	<ion-list class="general-list">
      <br>
      <ion-list class="general-list">
        <h2 class="color-blue enq-title">
            <b>Lost Children<br> Centre Contact Details</b>
        </h2>
        <p class="enq-text">
          Tel: <a href="tel:000 000 0000">000 000 0000</a><br>
        </p>
        <div class="accom-title-underline"></div>
        <h2 class="color-blue enq-title">
            <b>Tips For Parents</b>
        </h2>
        <p class="enq-text">
          Place a name and mobile number on a piece of paper and put in your child's pocket or write your mobile number on your child's arm.
          <!-- Cell: <a href="tel:0848403215">084 840 3215</a><br> -->
        </p>
        <div class="accom-title-underline"></div>
      </ion-list>
    </ion-list>

    <div class="bottom-spacer"></div>
    
  </ion-content>  
</ion-view>