<ion-view align-title="center" view-title="HELP DESK">
  <ion-content class="content-sub-header padding">

    <ion-list class="general-list">
      <br>
      <ion-list class="general-list">
        <h2 class="color-blue enq-title">
            <b>Noise Levels Information</b>
        </h2>
        <p class="enq-text enq-text-rules">
          Earplugs will be sold at the Waterkloof Base.
          <!-- Cell: <a href="tel:0848403215">084 840 3215</a><br> -->
        </p>
        <div class="accom-title-underline"></div>
      </ion-list>
    </ion-list>

    <div class="bottom-spacer"></div>
    
  </ion-content>  
</ion-view>