<ion-view align-title="center" view-title="GETTING THERE">

  <ion-content class="content-sub-header padding">
    <br>
    <ion-list class="general-list">
      <h2 class="color-blue enq-title">
          <b>General Parking &amp; Surrounding Roads Information</b>
      </h2>
      <p class="enq-text enq-text-rules">
      Free secure parking will be available on AFB Waterkloof's grounds.<br><br>
      Only residents of the area, pedestrians, park &amp; ride busses and Gautrain shuttles will be allowed access to Solomon Mahlangu (Hans Strijdom) Road, which will be closed from 04h00 to 19h00 on both Air show days. Traffic officials will patrol the area frequently as well.</p>
    </ion-list>
    <!-- <ion-list class="general-list">
      <ion-item href="#/app/directions" class="general-list-item">
        Directions
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/park-ride" class="general-list-item">
        Park &amp; Ride Venues
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item">
        Parking
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" ng-click="gautrainPrompt()" class="general-list-item">
        Gautrain
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list> -->
    
  </ion-content>
</ion-view>