<ion-view align-title="center" view-title="HELP DESK">
  <ion-content class="content-sub-header padding">

    <ion-list class="general-list">
      <br>
      <ion-list class="general-list">
        <h2 class="color-blue enq-title">
            <b>Park &amp; Ride Information</b>
        </h2>
        <p class="enq-text">
          AAD has developed a park-and-ride system to make parking easier. Zwartkop Airbase and Air Force 68 Air School have been identified as official parking areas, while a third parking area will be located inside the AFB Waterkloof.<br><br>

          Cars will not be allowed to park next to the road to avoid obscuring traffic.<br><br>

          AFB Swartkop (3000 vehicle parking bays) - <a href="" ng-click="openMaps(-25.810640, 28.163441)">Google Maps</a><br><br>

          68 Air School (500 vehicle parking bays) - <a href="" ng-click="openMaps(-25.817909, 28.163441)">Google Maps</a>
          <!-- Cell: <a href="tel:0848403215">084 840 3215</a><br> -->
        </p>
        <div class="accom-title-underline"></div>
      </ion-list>
    </ion-list>

    <div class="bottom-spacer"></div>
    
  </ion-content>  
</ion-view>