<ion-view align-title="center" view-title="SOCIAL MEDIA">
  <ion-content class="content-sub-header">
  	<ion-list class="general-list">
      <ion-item href="#" class="general-list-item" onclick="window.open('https://twitter.com/aadexpo', '_blank', 'location=yes')">
      	<i class="image icon ion-social-twitter color-red"></i>
        @aadexpo
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" onclick="window.open('https://mobile.facebook.com/africaaerospaceanddefence', '_blank', 'location=yes')">
      	<i class="image icon ion-social-facebook color-red"></i>
        Africa Aerospace and Defence
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" onclick="window.open('https://www.instagram.com/aadexpo/', '_blank', 'location=yes')">
      	<i class="image icon ion-social-instagram color-red"></i>
        @aadexpo
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>
  	<!-- <div ng-show="showTwitter">
		<div class="list">

	      <a class="twitter-item item-avatar" ng-repeat="tweet in tweets">
	        <img ng-src="{{ tweet.user.profile_image_url }}">
	        <div class="twitter-text">
		        <h2 class="color-blue">{{ tweet.user.name }}</h2>
		        <small>@{{ tweet.user.screen_name }}</small>
		        <small class="time"> {{ tweet.created_at | formatTwitterDate}}</small>
		        <p compile="tweet.text | formatTwitterText"></p>
		    </div>
	      </a>

	    </div>
	</div>
	<div ng-show="showFacebook">
		<div id="fb-root"></div>
		<div class="fb-page" data-href="https://www.facebook.com/africaaerospaceanddefence/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/africaaerospaceanddefence/"><a href="https://www.facebook.com/africaaerospaceanddefence/">Africa Aerospace and Defence - AAD</a></blockquote></div></div>
	</div>
	<div ng-show="showInstagram" style="height: 100%; overflow:scroll !important; -webkit-overflow-scrolling:touch !important;">
		<iframe src="http://lightwidget.com/widgets/61cc7e9a76b757cf0763e0915db32e098d392ac9.html" id="lightwidget_61cc7e9a76" name="lightwidget_61cc7e9a76" style="height: 100%; width: 100%" scrolling="auto" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
	</div> -->
	<div class="bottom-spacer-footer"></div>
  </ion-content>  
</ion-view>