<ion-view align-title="center" view-title="DISCOVER SA">
  <ion-content class="content-sub-header">
    
  	<ion-list class="general-list">
      <ion-item href="#" class="general-list-item" ng-click="browserOpen('http://www.sacab.co.za/')">
        SA Cab
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" ng-click="browserOpen('http://www.zebracabs.co.za/')">
        Zebra Cabs
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#" class="general-list-item" ng-click="browserOpen('http://www.sandtontaxicabs.co.za/')">
        Sandton Taxi Cabs
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

  </ion-content>  
</ion-view>