<ion-view align-title="center" view-title="GETTING THERE">

  <ion-content class="content-sub-header">
    <ion-list class="general-list" ng-if="pta">
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('shopping malls near Pretoria, Gauteng')">
        Shopping
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tshwane.gov.za/sites/tourism/Arts-Culture-and-Heritage/Pages/default.aspx')">
        Tourist Attractions
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tshwane.gov.za/sites/tourism/Arts-Culture-and-Heritage/Pages/Museum-Listing.aspx')">
        Museums
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tshwane.gov.za/sites/tourism/Arts-Culture-and-Heritage/Pages/Heritage-Site-Listing.aspx')">
        Monuments
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('restaurants near Pretoria, Gauteng')">
        Restaurants
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tshwane.gov.za/sites/Tourism/NatureConservation/Pages/default.aspx')">
        Safaris
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

    <ion-list class="general-list" ng-if="mp">
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('shopping malls near near Mpumalanga')">
        Shopping
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.mpumalanga.com/experience/attractions-&-things-to-do')">
        Tourist Attractions
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.mpumalanga.com/discover/attractions/historic-attractions')">
        Museums
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.mpumalanga.com/discover/attractions/historic-attractions')">
        Monuments
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('restaurants near Mpumalanga')">
        Restaurants
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

    <ion-list class="general-list" ng-if="nw">
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('shopping malls near North West')">
        Shopping
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tourismnorthwest.co.za/activities/#tab=tab-1')">
        Tourist Attractions
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tourismnorthwest.co.za/our-heritage/#tab=tab-1')">
        Museums
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://www.tourismnorthwest.co.za/our-heritage/#tab=tab-1')">
        Monuments
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('restaurants near North West')">
        Restaurants
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

    <ion-list class="general-list" ng-if="fs">
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('shopping malls near Free State')">
        Shopping
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://freestatetourism.org/?page_id=15')">
        Tourist Attractions
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://freestatetourism.org/?page_id=1028')">
        Museums
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="browserOpen('http://freestatetourism.org/?page_id=1028')">
        Monuments
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="" class="general-list-item" ng-click="gpsOpen('restaurants near Free State')">
        Restaurants
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>

    <div class="bottom-spacer"></div>
  </ion-content>
</ion-view>