<ion-view align-title="center" view-title="GETTING THERE">

  <ion-content class="content-sub-header">
    <ion-list class="general-list">
      <ion-item href="#/app/things-to-do-detail/province=pta" class="general-list-item">
        Pretoria
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/things-to-do-detail/province=mp" class="general-list-item">
        Mpumalanga
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/things-to-do-detail/province=nw" class="general-list-item">
        Northwest Province
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
      <ion-item href="#/app/things-to-do-detail/province=fs" class="general-list-item">
        Free State
        <i class="icon ion-chevron-right color-red"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>