<ion-view align-title="center" view-title="HELP DESK">
  <ion-content class="content-sub-header">

  	<ion-list class="general-list">
      	<ion-item href="#" class="general-list-item" ng-click="browserOpen('http://online.computicket.com/web/')">
        	Computicket Ticket
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
      	<ion-item href="#/app/prices" class="general-list-item">
        	Prices
        	<i class="icon ion-chevron-right color-red"></i>
      	</ion-item>
    </ion-list>

    <div class="bottom-spacer"></div>
    
  </ion-content>  
</ion-view>